.App {
  text-align: center;
  background-color: antiquewhite
}





.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-row{
display: flex;
align-items: center;
align-content: center;
}
.button-row > button{
  
}